<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="/css/login.css" media="screen" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>queskey</title>
</head>

<body>

<div id="header">
  <div class="wrapper" id="head">
    <div class="logo"></div>
    <ul class="nav_right">
      <li> Blog </li>
      <a href="#" class="big-link" data-reveal-id="sign_in"  data-animation="fade" style="color:#8d8d8d;"><li> Sign In  </li></a>
     <a href="#" class="big-link" data-reveal-id="sign_up" data-animation="fade"  style="color:#ffffff;"> <li class="sign_up"> Sign Up</li> </a>
      
      
    </ul>
  </div>
</div>
<div class="wrapper" id="highlight">
  <div class="intro_line">
    <p>Begin Your</p>
    <div class="cat_highlight">CAT</div>
    <p>preparation online for Free</p>
    
   
  </div>
  <div class="cat_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut. </div>
  <div class="start_button">
    <div style="padding-top:9px;">Start Preparing</div>
  </div>
  <div id="queskey_icon_big_wrapper">
    <div id="queskey_icon_big"></div>
  </div>
</div>
<div class="grey_border"></div>
<div class="grey_body"></div>
<div class="wrapper" id="features">
  <div class="icon_line"></div>
  <div class="img_white_bg"></div>
  <div class="img_mask_cont">
    <div class="mask_top"></div>
    <div class="img_mask"></div>
    <div class="mask_bottom"></div>
  </div>
  <div id="ftr_content">
    <div class="ftr_content_img"><img src="/img/ftr_content.jpg" /></div>
    <div class="ftr_text">
      <h2>TAILORED CONTENT</h2>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
    </div>
    <div id="ftr_icon"><img src="/img/ftr_content_icon.png" /></div>
  </div>
  <div id="ftr_content">
    <div class="ftr_content_img"><img src="/img/ftr_quiz.jpg" /></div>
    <div class="ftr_text">
      <h2>PRACTICE QUIZZES</h2>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
    </div>
    <div id="ftr_icon"><img src="/img/ftr_quiz_icon.png" /></div>
  </div>
  <div id="ftr_content">
    <div class="ftr_content_img"><img src="/img/ftr_analytics.jpg" /></div>
    <div class="ftr_text">
      <h2>TRACK PERFORMANCE</h2>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
    </div>
    <div id="ftr_icon"><img src="/img/ftr_analytics_icon.png" /></div>
  </div>
  <div id="ftr_content_end" >
    <div class="ftr_content_img"><img src="/img/ftr_p2p.jpg" /></div>
    <div class="ftr_text">
      <h2>GET DOUBTS SOLVED</h2>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
    </div>
    <div id="ftr_icon"><img src="/img/ftr_p2p_icon.png" /></div>
  </div>
  <div class="line_end"></div>
  <div class="experience">
    <div class="exp_left">
      <h1>Get Ready to learn the beautiful way</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="start_button" style="float:left">
        <div style="padding-top:9px;">Start Preparing</div>
      </div>
    </div>
    <div class="canvas"></div>
  </div>
</div>
<div class="feedback">
  <div class="wrapper">
    <div class="feedback_thumb">feedback</div>
    <div class="feedback_border">
      <input class="feedback_txt"  />
    </div>
  </div>
</div>
<div class="yearbook">
  <div class="wrapper">
    <div class="yearbook_banner"></div>
    <div class="team">
      <div class="team_member">
        <div class="team_pic" style="background-image:url(/img/team_pic.jpg); background-position:-35px 0"></div>
        <h1>Hitten Dubey</h1>
        <h2>#Product Design</h2>
      </div>
      <div class="team_member">
        <div class="team_pic" style="background-image:url(/img/team_pic.jpg); background-position:-35px 0"></div>
        <h1>Hitten Dubey</h1>
        <h2>#Product Design</h2>
      </div>
      <div class="team_member">
        <div class="team_pic" style="background-image:url(/img/team_pic.jpg); background-position:-35px 0"></div>
        <h1>Hitten Dubey</h1>
        <h2>#Product Design</h2>
      </div>
      <div class="team_member">
        <div class="team_pic" style="background-image:url(/img/team_pic.jpg); background-position:-35px 0"></div>
        <h1>Hitten Dubey</h1>
        <h2>#Product Design</h2>
      </div>
    </div>
  </div>
</div>

<div class="footer">
<div class="wrapper">
<div style="float:left"><p>© 2013 Scholster Studios</p></div><ul class="footer_right">
      <li class="social_fb" style="margin-left:10px;"></li>
       <li class="social_twitter" style="margin-left:10px;"></li>
    </ul>
<ul class="footer_right">
      <li class="footer_def">About </li>
      <li>Contact</li>
      <li >Disclaimer</li></ul>

</div>
</div>
<div class="love">Made with<img src="/img/heart.png" />in New Delhi</div>


<div id="sign_in" class="login_box">
<div class="login_box_inner">
  <div class="close_btn"></div>
  <div class="facebook_login"></div>
  <p class="dino"><span>or, the old-fashioned way</span></p>
  <div class="email_field">
    <div class="email_icon"></div>
    <input  class="email_txt" id='login_email' type="text"  />
  </div>
  <div class="error" style="opacity: 0;" id='email_error'></div>
  <div class="pwd_field">
    <div class="pwd_icon"></div>
    <input  class="pwd_txt" id='login_pwd' type="password"  />
  </div>
  <div class="error" id='signin_error'></div>
  <div class="sign_in_box" id='login_btn'>Login</div>
  </div>
</div>




<div id="sign_up" class="login_box">
  <div class="login_box_inner">
    <div class="close_btn"></div>
    <div class="facebook_register"></div>
    <p>* We would never post anything on your wall</p>
    <p class="dino"><span>or, the old-fashioned way</span></p>
    <div class="email_field">
      <div class="email_icon"></div>
      <input  class="email_txt" id='register_email' type="email"/>
    </div>
    <div class="error">This is a error</div>
    <!--to be changed later div class for username-->
    <div class="email_field">
        <div class="email_icon"></div>
        <input  class="email_txt" id='register_username' type="text"/>
    </div>
    <div class="error">This is a error</div>
    <div class="pwd_field">
    <div class="pwd_icon"></div>
    <input  class="pwd_txt" id='register_pwd' type="password"  />
  </div>
    <div class="sign_in_box" id='signup_btn'>Signup</div>
  </div>
</div>

<script type='text/javascript' src='/js/jquery.js'></script>
<script type='text/javascript' src='/js/login.js?v=1'></script>
<script type='text/javascript' src='/js/register.js?v=1'></script>
<script type="text/javascript" src="/js/jquery.reveal.js"></script>
<script type='text/javascript'>//<![CDATA[ 
$(window).load(function(){
	
	
$(window).scroll(function(){
						 
     var y = $(this).scrollTop();
  console.log(y);
    // whether that's below the form
    if (y >= 400 && y<=2219) {
		
      // if so, ad the fixed class
	  
	

     $('#header').addClass('fixed');
	  $('.grey_body').css({position:'fixed', top:'57px'});
	  $('.grey_border').css({position:'fixed', top:'57px'});
	   $('.img_mask_cont').css({position:'fixed', top:'55px'});
	    $('.img_white_bg').css({position:'fixed', top:'55px'});
		 $('.mask_bottom').css({height:'500px' });
		  $('.img_white_bg').css({height:'800px' });
	  
	 
    }
	else if(y>2219){
		
      $('#header').addClass('fixed_border');
	   $('.grey_body').css({position:'absolute', top:'2112px'});
	   $('.grey_border').css({position:'absolute', top:'2112px'});
	   $('.img_mask_cont').css({position:'absolute', top:'1810px' });
	    $('.img_white_bg').css({position:'absolute', top:'1810px'});
		 $('.mask_bottom').css({height:'315px' });
		 $('.img_white_bg').css({height:'838px' });
		}
	
	 else {
      // otherwise remove it
	 
      $('#header').removeClass('fixed');
	  $('#header').removeClass('fixed_border');
	   $('.grey_body').css({position:'absolute', top:'458px'});
	   $('.grey_border').css({position:'absolute', top:'458px'});
	   $('.img_mask_cont').css({position:'absolute', top:'0px' });
	    $('.img_white_bg').css({position:'absolute', top:'0px'});
		 $('.mask_bottom').css({height:'500px' });
		
    }
   
	
	//$('.queskey_icon_big').css({position:'fixed', top:'65px', left:'0px', margin:'auto', });
	
	
	});
});//]]>  

</script>


</body>
</html>
