{% set loggedInUser = app.session.get('User') %}
{% extends 'FrontEndBundle:Course:course.html.twig' %}


{% block progress %}
<p>//////////////////////////////////////////////////////////////<br>
    /////////////////////////////////////////////////////////////<br>
    ------------ Progress of the present course ----------------<br>
    /////////////////////////////////////////////////////////////<br>
    /////////////////////////////////////////////////////////////<br>
</p>
{% endblock %}


{% block analysis %}
<p>//////////////////////////////////////////////////////////////<br>
    /////////////////////////////////////////////////////////////<br>
    ----------------------- course Analysis ---------------------<br>
    /////////////////////////////////////////////////////////////<br>
    /////////////////////////////////////////////////////////////<br>
</p>
{% endblock %}

{% block study %}
<a href="{{ course.url }}"><button id="study_btn">Study</button></a><br><br>
{% endblock%}
