{% set loggedInUser = app.session.get('User') %}
{% extends 'FrontEndBundle:Course:course.html.twig' %}


{% block progress %}
<p>//////////////////////////////////////////////////////////////<br>
    /////////////////////////////////////////////////////////////<br>
    ------------ Progress of the present course ----------------<br>
    /////////////////////////////////////////////////////////////<br>
    /////////////////////////////////////////////////////////////<br>
</p>
{% endblock %}


{% block analysis %}
<p>//////////////////////////////////////////////////////////////<br>
    /////////////////////////////////////////////////////////////<br>
    ----------------------- course Analysis ---------------------<br>
    /////////////////////////////////////////////////////////////<br>
    /////////////////////////////////////////////////////////////<br>
</p>
{% endblock %}

{% block subjects %}
<h3>Subjects</h3>
{% for subject in subjects %}
<ul>
    <li><a href="{{ subject.url }}">{{ subject.name }} ----- id = {{ subject.sId }}</a></li>
    <li>{{ subject.description}}</li>
</ul>
{% endfor%}
{% endblock%}
